# Ignore the Firebase configuration file
GoogleService-Info.plist

# Ignore Xcode files
xcuserdata/
*.xcworkspace
*.xcuserstate
*.xcuserdata
**/*.xcuserstate

# Ignore build artifacts
build/
DerivedData/

# Ignore macOS system files
.DS_Store

